.body-game
    background: linear-gradient(180deg, #2B2B2B 0%, #272727 86.25%)
.game 
    &__footer 
        display: none
    &-form 
        &__item 
            position: absolute
            right: 12px
            top: 33px
            font-weight: 275
            font-size: 14px
            line-height: 18px
            color: #B1AFCD
            opacity: 0.7
        label 
            font-weight: 300
            font-size: 12px
            line-height: 16px
            margin-bottom: 6px
            display: block
        &__input 
            width: 100%
            height: 40px
            padding-left: 14px
            background: #2B2B2B
            border-radius: 3px
            border: 1px solid transparent
            transition: 0.5s
            color: white
            &:focus 
                border: 1px solid $green
        &__max 
            margin-top: 5px
            font-weight: 300
            font-size: 10px
            line-height: 13px
        &__btn 
            width: 100%
            height: 40px
            margin-top: 9px
    .footer__socials
        margin-top: auto
        .footer__link:nth-child(1), .footer__link:nth-child(2)
            top: -1px
        .icon 
            fill: #535353
    .footer__link 
        width: 20px
        height: 20px
        margin-left: 0
        margin-right: 10px
        &:hover 
            .icon 
                fill: white
    &-left
        flex: 1 0 auto
        width: 100%
        max-width: 241px
        padding: 15px 30px 36px
        height: 100vh
        display: flex
        flex-direction: column
        position: fixed
        transition: 0.5s
        background: #0E0E0E
        &__com 
            font-size: 14px
            line-height: 100%
            color: #535353
            margin-top: 11px
        &__footer 
            margin-top: auto
        &__list 
            margin-top: 28px
            .icon 
                transition: 0.5s
            li
                margin-bottom: 5px
                transition: 0.5s
                &:hover 
                    p 
                        color: $green
                &:first-child
                    .icon 
                        stroke: white
                &:last-child
                    margin-top: 17px
                    padding-top: 17px
                    border-top: 1px solid #3A3A3A
            .active
                background: #FFFFFF
                border-radius: 5px
                p
                    color: #0B0530
                    font-weight: 600
                    text-shadow: 0.5px 0.5px #0B0530
                .icon
                    fill: white
                    stroke: black !important
        &__link
            align-items: center
            width: 181px
            height: 40px
            margin-bottom: 1px
            border-radius: 5px
            padding-left: 10px
            p
                font-size: 14px
                line-height: 320%
                color: #FFFFFF
                margin-left: 17px
                font-weight: 400
                transition: 0.5s
            .icon 
                width: 20px
                height: 20px
                // fill: white
                // stroke: #0B0530
    &-right
        width: 100%
        padding-left: 239px
        transition: 0.5s
        background: linear-gradient(180deg, #2B2B2B 0%, #272727 86.25%)
        &__pic 
            width: 100%
        &__form 
            padding-left: 21px
            width: 100%
            max-width: 200px
            position: relative
        &__bottom 
            margin-top: 56.5px
            align-items: center
            justify-content: space-between
            width: 1000px
            height: 166px
            background: #1A1A1A
            border-radius: 5px
            padding: 20px 28px
            &.not-connect
                position: relative
                &::after
                    width: 100%
                    height: 100%
                    position: absolute
                    left: 0
                    top: 0
                    background: rgba(26, 26, 26, 0.95)
                    content: ""
        &__choose 
            height: 100%
            font-size: 25px
            line-height: 110%
            font-family: "Fuji"
            text-align: center
            max-width: 187px
            display: flex
            vertical-align: middle
            align-items: center
            padding-right: 20px
            border-right: 1px solid #3A3A3A
        &__set 
            width: 100%
            height: 50px
            border-radius: 5px
        &__block 
            width: 150px
            margin-right: 15px
            position: relative
            border: 2px solid transparent
            cursor: pointer
            &.checked 
                .game-right__set
                    &:before 
                        content: ""
                        display: block
                        filter: blur(50px)
                        position: absolute
                        left: 0
                        top: 0
                        width: 100%
                        height: 100%
                        -webkit-box-shadow: -2px -1px 23px 3px rgba(66,232,224,1)
                        -moz-box-shadow: -2px -1px 23px 3px rgba(66,232,224,1)
                        box-shadow: -2px -1px 23px 3px rgba(66,232,224,1)
                    &::after
                        content: ""
                        display: block
                        width: 24px
                        height: 24px
                        background: url(img/check.svg) no-repeat 
                        position: absolute
                        top: 50%
                        left: 50%
                        margin-left: -12px
                        margin-top: 0px
            &:last-child
                margin-right: 0
            &:nth-child(1)
                .game-right__set
                    background: #42E8E0
            &:nth-child(2)
                .game-right__set
                    background: #E8D742
            &:nth-child(3)
                .game-right__set
                    background: #E84288
        &__sub 
            font-weight: 300
            font-size: 14px
            margin-bottom: 5px
        &__colors 
            padding: 0 23px
            height: 100%
            align-items: center
            border-right: 1px solid #3A3A3A
        &__one 
            text-align: left
            &:nth-child(2)
                text-align: center
                margin: 0 5px
                .game-right__usdt
                    font-size: 14px
                .game-right__num
                    font-size: 80px
                    line-height: 63px
            &:last-child
                text-align: right      
        &__info 
            justify-content: space-between
        &__usdt 
            font-weight: 300
            font-size: 12px
            line-height: 16px
            margin-bottom: 3px
            display: block
        &__num 
            font-size: 16px
            line-height: 19px
            font-family: 'Fuji'
        &__box 
            align-items: flex-start
            flex-wrap: wrap
            justify-content: space-between
            width: 100%
        &__item 
            width: 30%
            margin-right: 50px
            text-align: center
            &:last-child
                margin-right: 0
        &__content 
            padding: 31px 0px 20px
            height: 100%
            width: 100%
            max-width: 1000px
            margin: 0 auto
        &__time 
            width: 180px
            height: 60px
            background: #1A1A1A
            border-radius: 5px
            display: flex
            align-items: center
            font-weight: 500
            font-size: 40px
            line-height: 48px
            text-align: center
            color: #FFFFFF
            font-family: 'Fuji'
            justify-content: center
            margin: 0 auto 31px
            .icon 
                width: 40px
                height: 40px
                margin-right: 5px
        &__el 
            font-weight: 400
            font-size: 12px
            line-height: 16px
            display: flex
            align-items: center
            &:before 
                content: ""
                display: block
                width: 10px
                height: 10px
                background: $green
                margin-right: 12px
                border-radius: 50%
        &__wrap 
            align-items: center
        &__top 
            padding: 16px 38px 19px 33px
            align-items: center
            justify-content: space-between
            background: #1A1A1A
        &__flex 
            justify-content: space-between
            margin-right: 40px
            width: 100%
        &__id 
            font-weight: 400
            font-size: 12px
            line-height: 16px
            margin-right: 30px
        &__info 
            align-items: center
            cursor: pointer
            &:hover 
                .game-right__name
                    color: $green
        &__ava
            width: 28px
            height: 28px
            margin-right: 9px
            img 
                width: 100%
                height: 100%
                border-radius: 3px
        &__name 
            font-size: 13px
            line-height: 17px
            transition: 0.5s
        &__btn 
            margin-left: 10px
    &__btn 
        width: 160px
        height: 28px
        margin-right: 0px
    &__code
        color: #A1A1A1
    &-chat 
        width: 100%
        max-width: 290px
        flex: 1 0 auto 
        height: 100%
        display: flex
        flex-direction: column
        padding: 20px 40px 20px 0
        &__scroll 
            height: 257px
            overflow: auto
            padding-right: 17px
        &__btn 
            position: absolute
            top: 18px
            right: 1px
            background: transparent
            border: none
            transition: 0.5s
            .icon 
                width: 19px
                height: 18px
                fill: white
            &:hover 
                .icon 
                    fill: $green
        &-form 
            width: 94%
            position: relative
        &__item 
            font-weight: 300
            font-size: 12px
            line-height: 140%
            margin-bottom: 6px
            .game-chat__id.red 
                color: #F27272
            .game-chat__id.yellow
                color: #E8D842
            .game-chat__id.green
                color: #42E8E0
        &__chat 
            width: 100%
            background: #1A1A1A
            border-radius: 5px
            padding: 20px 0px 10px 16px
            .game-chat__name
                margin-bottom: 15px
        &__table 
            width: 100%
            tr 
                td 
                    font-weight: 300
                    font-size: 12px
                    padding-bottom: 7px
                    &.green 
                        color: $green
                    &.red 
                        color: red
                    &:nth-child(2)
                        text-align: center
                        font-size: 11px
                    &:last-child 
                        text-align: right
                        font-size: 11px
                        letter-spacing: 0.392857px
        &__all 
            font-weight: 300
            font-size: 12px
            line-height: 16px
            color: #42E8E0
            transition: 0.5s
            &:hover 
                color: white
        &__top 
            align-items: center
            justify-content: space-between
            margin-bottom: 20px
        &__name 
            font-weight: 400
            font-size: 12px
            line-height: 16px
            letter-spacing: 0.02em
            text-transform: uppercase
        &__history 
            width: 100%
            height: 409px
            background: #1A1A1A
            border-radius: 5px
            overflow: auto
            padding: 20px 16px 25px
            margin-bottom: 20px
            flex: 1 0 auto 
            max-height: 409px
    &__logo
        width: 137px
        display: block
        margin-left: 8px
        img
            width: 100%
            height: 100%
    &__news 
        display: flex
        align-items: center
        justify-content: center
        width: 48px
        height: 28px
        background: linear-gradient(136.67deg, #42E8E0 8.34%, #16CFC6 95.26%)
        mix-blend-mode: normal
        box-shadow: 0px 2px 20px rgba(66, 232, 224, 0.7)
        border-radius: 3px
        font-size: 12px
        line-height: 16px
        color: #FFFFFF
        margin-right: 25px
        margin-left: 25px
        transition: 0.5s
        .icon 
            width: 10px
            height: 12px
            margin-right: 4px
        &:hover 
            color: white
            -webkit-box-shadow: -2px 4px 32px 0px rgba(66,232,224,1)
            -moz-box-shadow: -2px 4px 32px 0px rgba(66,232,224,1)
            box-shadow: -2px 4px 32px 0px rgba(66,232,224,1)
.game-right__block:nth-child(1).checked
    .game-right__set
        border: 2px solid #9CFFFA
.game-right__block:nth-child(2).checked
    .game-right__set
        border: 2px solid #9CFFFA
.game-right__block:nth-child(3).checked
    .game-right__set
        border: 2px solid #9CFFFA
.game-chat__input 
    width: 100%
    height: 37px
    background: #2B2B2B
    border-radius: 3px
    border: 1px solid transparent
    transition: 0.5s
    max-width: 100%
    margin-top: 10px
    color: white
    padding: 10px 30px 10px 10px
    font-size: 12px
    &:focus
        border: 1px solid $green
::-webkit-scrollbar 
    width: 2px
    background-color: #f9f9fd
::-webkit-scrollbar-thumb 
    border-radius: 10px
    background-color: $green
::-webkit-scrollbar-track 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2)
    border-radius: 10px
    background-color: #f9f9fd
.not-connect__block
    position: absolute
    top: 50%
    margin-top: -50px
    left: 0
    width: 100%
    height: 100%
    z-index: 2
    p 
        font-size: 32px
        line-height: 110%
        text-align: center
        color: #FFFFFF
        font-family: 'Fuji'
        margin-bottom: 20px
.not-connect__btn
    width: 200px
    height: 35px
    margin: 0 auto