@media screen and (max-width: 1699px) 
   .about__content
      margin-left: 40px
   .about__pic
      width: 51%
@media only screen and (max-height: 750px)
   .header__box
      margin-top: 90px
   .header__bg
      width: 70%
      right: -309px
      top: -95px
@media only screen and (max-height: 750px) and (max-width: 1400px) 
   .header__bg
      right: -322px !important
   .header
      padding-bottom: 100px
@media screen and (max-width: 1499px) 
   .about__pic
      width: 46%
@media screen and (max-width: 1399px) 
   .about__content
      max-width: 589px
   .features__item
      margin-right: 139px
   .header__bg 
      right: -646px
@media screen and (max-width: 1299px) 
   .features__item 
      margin-right: 84px
   .play__pic 
      width: 55%
      margin-right: 40px
   .chat__pic 
      margin-left: 40px
   .chat__content 
      max-width: 702px
   .footer .nav__list
      left: 42px
   .play__content 
      top: 10px
   .header__bg 
      right: -741px
@media screen and (max-width: 1199px) 
   .about__box
      flex-direction: column
   .about__pic
      width: auto
   .about__content 
      max-width: 100%
      margin-left: 0
      top: -30px
   .about
      padding: 70px 0
   .features
      padding: 20px 0 60px
   .features__item
      margin: 10px 30px !important
   .play
      padding: 40px 0
   .play__box
      flex-direction: column
      margin-top: 60px
   .play__pic
      width: 100%
      margin: 0 auto 20px
      max-width: 100%
   .chat__box
      flex-direction: column-reverse
   .chat__pic 
      margin-left: 0
      margin-bottom: 25px
   .chat__content 
      max-width: 100%
   .footer .nav__list 
      left: 0
      margin-top: 34px
   .footer .nav__box
      flex-direction: column
   .footer__socials
      margin-top: 40px
   .footer 
      padding: 53px 0 44px
   .header__box
      margin-top: 118px
   .header 
      background-size: cover
   .nav__box .nav__link
      margin-right: 20px
   .header
      padding-bottom: 108px
   .header__bg
      opacity: 0.5
      width: 100%
      right: -395px
      top: -128px
@media ( max-width: 991px )
   .nav .nav__list
      max-width: 330px
   .nav__btn
      width: 120px
   .about__pic
      width: 68%
   .chat
      padding: 40px 0
@media screen and (max-width: 767px)
   .burger 
      position: fixed
      flex-direction: column
      right: -150%
      top: 0px
      z-index: 100000
      display: flex
      box-sizing: border-box
      transition: .3s all ease-in-out
      width: auto
      height: auto
      background-color: #000c28
   .burger.active 
      right: 0px
      top: 0px
      max-width: 100%
      padding: 70px 30px
      height: 100vh
      width: 100%
   .menu 
      display: flex
      position: relative
      top: -24px
      right: 0px
   .menu .button 
      position: relative
      display: flex
      z-index: 1000000
      right: -8px
      top: -8px
      width: 40px
      height: 19px
      align-items: center
      justify-content: center
      margin-left: auto
   .menu .button.active 
      position: fixed
      right: 15px
      top: 38px
   .menu .button span 
      position: absolute
      top: calc(50% - 1px)
      transition: .3s all ease-in-out
      width: 24px
      height: 3px
      border-radius: 1px
      background-color: $green
   .menu .button span::before 
      content: ''
      position: absolute
      top: -8px
      transition: .3s all ease-in-out
      width: 24px
      height: 3px
      border-radius: 1px
      background-color: $green
   .menu .button span::after 
      content: ''
      position: absolute
      bottom: -8px
      transition: .3s all ease-in-out
      width: 24px
      height: 3px
      border-radius: 1px
      background-color: $green
   .menu .button.active span 
      background-color: transparent !important
      width: 24px
   .menu .button.active span::before 
      content: ''
      width: 24px
      top: calc(50% - 2px)
      transform: rotate(45deg)
   .menu .button.active span::after 
      content: ''
      bottom: calc(50% - 1px)
      transform: rotate(-44deg)
      background-color: $green
      width: 24px
   .nav__box
      .nav__list, .nav__btn 
         display: none
   .footer .nav__list 
      display: block
      text-align: center
      li 
         margin-bottom: 20px
         a 
            font-size: 16px
         &:last-child
            margin-bottom: 0
   .burger
      .nav__btn 
         margin: 20px auto 0
         width: 160px
      .nav__list 
         flex-direction: column 
         text-align: center
         max-width: 100%
         li 
            margin-bottom: 20px
            a 
               margin-right: 0
   .header__box
      margin-top: 40px
   h1 
      font-size: 48px
      line-height: 109%
      span 
         font-size: 55px
   .header__text 
      max-width: 470px
      margin-top: 36px
   .about
      padding: 70px 0 40px
   h2 
      font-size: 44px
   .accordeon__button
      padding: 24px 50px 29px 20px
      font-size: 16px
   .accordeon__panel
      padding: 0 40px 0 20px
   .panel__text
      font-size: 14px
   .about__pic
      width: 100%
   .header__bg 
      width: 100%
      right: -264px
      top: -59px
@media screen and (max-width: 576px)
   input, textarea, select 
      -webkit-appearance: none
      -moz-appearance: none
      appearance: none
   .menu
      top: -25px
   .header__box
      margin-top: 20px
   h1 
      font-size: 42px
      span 
         font-size: 45px
   .header 
      background: transparent
      padding-bottom: 79px
   .about__content
      top: -2px
   .about__text, .play__text
      font-size: 13px
   h2 
      margin-bottom: 15px
      font-size: 41px
   .features__box
      margin-top: 50px
   .features__pic 
      width: 100%
   .features 
      padding: 20px 0 40px
   .play__name 
      font-size: 39px
      margin-bottom: 29px
   .play__btn
      width: 100%
   .chat__pic
      width: 100%
      margin-top: 30px
   .accordeon__button 
      padding: 24px 46px 24px 20px
   .footer__link
      margin-left: 0
      margin-top: 5px
   .footer__socials 
      width: 100%
      justify-content: space-between
      flex-wrap: wrap
   .header__bg 
      display: none
   
